exceptiongroup==1.2.0
Faker==24.3.0
fuzzywuzzy==0.18.0
grpcio==1.62.1
grpcio-tools==1.62.1
iniconfig==2.0.0
jellyfish==1.0.3
Levenshtein==0.25.0
packaging==24.0
pluggy==1.4.0
protobuf==4.25.3
pytest==8.1.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.0
rapidfuzz==3.6.2
six==1.16.0
tomli==2.0.1
